@tailwind base;
@tailwind components;
@tailwind utilities;

#custom::-webkit-input-placeholder {
    text-align: center;
}
#custom:-moz-placeholder {
    text-align: center;
}
.btn{
    @apply px-4  py-2 bg-darkCyan text-white w-36 md:w-28 rounded-lg text-center hover:bg-strongCyan;
}
.tip{
    @apply flex justify-between items-center gap-2;
}
.input-lg{
    @apply bg-lightercyan px-4 py-2 rounded-lg border-gray-200 focus:outline-1 outline-strongCyan text-right text-darkCyan text-4xl;
}
.error{
    @apply absolute top-7 right-0 text-red-500 hidden  w-48 md:top-1 text-sm text-right; 
}
.btn.active{
    @apply bg-strongCyan;
}
.error.show{
    @apply block;
}
.error.show ~ input{
    @apply outline-red-500;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}